@font-face {
  font-family: "malgun";
  src: url("./assets/fonts/malgun.ttf");
}

@font-face {
  font-family: "malgunbd";
  src: url("./assets/fonts/malgunbd.ttf");
}

@font-face {
  font-family: "malgunsl";
  src: url("./assets/fonts/malgunsl.ttf");
}

body {
  margin: 0;
  padding: 0;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.inner-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.outlet {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color:#eff6ff;
  overflow-y: auto;
}

.chart-row {
  display: flex;
  flex-direction: row;
  /* background-color:aliceblue ; */
  /* flex: 1; */
  /* height: 200px; */
  gap: 20px;
  padding: 20px;
}

.chart-shape-box {
  flex: 1;
  display: flex;
  position:relative;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  height: 230px;
  /* padding: 10px; */
}
